<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Tasks</title>
    <link rel="stylesheet" href="/sidebar.css">
    <link rel="stylesheet" href="/todo.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release-pro/v4.0.0/css/line.css">

</head>

<body>
    <!-- Siderbar begins -->
    <nav>
        <div class="sidebar">
            <div class="menu">
                <ul class="links">
                    <li>
                        <i class="uil uil-angle-left sidebar-toggle"></i>
                        <!-- Insert logo here  -->
                        <span class="items"></span>
                    </li>

                    <li>
                        <a href="../../dashboard.html">
                            <i class="uil uil-apps"></i>
                            <span class="items">Dashboard</span>
                        </a>
                    </li>

                    <li class="activeitem">
                        <a href="/listings">
                            <i class="uil uil-file-check-alt"></i>
                            <span class="items">Todo</span>
                        </a>
                    </li>

                    <li>
                        <a href="/calendar">
                            <i class="uil uil-calendar-alt"></i>
                            <span class="items">Calendar</span>
                        </a>
                    </li>

                    <li>
                        <a href="./notes/Notes.html">
                            <i class="uil uil-notes"></i>
                            <span class="items">Notes</span>
                        </a>
                    </li>

                    <li class="items">
                        <a href="../../grades.html">
                            <i class="uil uil-graduation-cap"></i>
                            <span class="items">Grades</span>
                        </a>
                    </li>

                    <!-- Replace class name with "items" in the main home screen-->
                    <li class="dropd items">
                        <a href="#">
                            <i class="uil uil-map"></i>
                            <span class="items">Map</span>
                            <i class="uil uil-angle-down"></i>
                        </a>
                        <div class="drop">
                            <a href="../../maps.html">Map</a>
                            <a href="../../floorplans.html">Floor Plans</a>
                        </div>
                    </li>

                </ul>

                <ul class="logout">
                    <li>
                        <a href="/">
                            <i class="uil uil-signout"></i>
                            <span class="items">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2>Todo</h2>
        <form method="GET" action="/listings/new">
            <button class="create-button">Create New Task</button>
        </form>
        <ul>
            <% for (let listing of allListings) { %>
                <li>
                    <a href="/listings/<%= listing._id %>">
                        <%= listing.title %>
                    </a>
                </li>
                <% } %>
        </ul>
        <br>
    </div>



    <div class="container">

    </div>

    <% for (let listing of allListings) { %>
        <% if (listing.reminder==='yes' ) { %>
            <% var deadlineDate=new Date(listing.endDate); var currentDate=new Date(); var timeDifference=deadlineDate -
                currentDate; var daysDifference=Math.ceil(timeDifference / (1000 * 60 * 60 * 24)); %>

                <% if (daysDifference <=3) { %>
                    <div class="popup">
                        Reminder: The deadline for '<%= listing.title %>' is near!
                            <span class="popup-close" onclick="this.parentElement.style.display='none'">&times;</span>
                    </div>
                    <% } %>
                        <% } %>
                            <% } %>





</body>

</html>